{% extends "layout.html" %}
{% block content %}
<div class="row">
  <section class="col">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-chart-pie mr-1"></i>
          {{headerString}}
        </h3>
        </h3>
      </div><!-- /.card-header -->
      <div class="card-body card-comments">
        {% for message in messages %}
          <div class="comment-text">
            <a  href="/messages/around/{{message.id}}">
            <span class="username">
              {{message.userName}}
              <span class="text-muted float-right">{{message.timestamp}}</span>
            </span>
          </a>
            {{message.content}}
          </div>

        {% endfor %}
        <!-- /.comment-text -->
      </div><!-- /.card-body -->
    </div>
  </section>
</div>
<div class="card card-widget">

</div>
{% endblock %}