<div class="card card-secondary card-outline">
    <div class="card-header">
      <h3 class="card-title">Reaction List</h3>
      <div class="holder card-tools" id="word-list-holder-{{ userName }}"></div>
      <input class="form-control word-table-search" type="search" placeholder="Search" aria-label="Search" id="word-table-search-{{ userName }}">
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Reaction</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody id="word-list-{{ userName }}">
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->